/* 브라우저 초기화 */
* {
    margin:0;
    padding:0;
}

/* container 중앙 정렬 및 폭 설정 */
#container {
    width: 1200px;
    margin:20px auto;
}

/* header 설정 */
#header {
    width: 100%;
    height: 120px;
    background-color: #acacac;
}

/* sidebar 설정 */
#sidebar {
    width: 300px;
    height: 600px;
    background-color: #e9e9e9;
    /* floating */
    float: left; /* 왼쪽으로 floating 하면서 화면 요소를 위치. */
}

/* contents 설정 */
#contents {
    width: 600px;
    height: 600px;
    background-color: #f7f7f7;
    /* floating */ 
    float:left;
} 

#right-sidebar {
    width: 300px;
    height: 600px;
    background-color: #e9e9e9;
    float: left;
}

/* footer 설정 */
#footer {
    width: 100%;
    height: 100px;
    background-color: #888888;
    /* floating 해제 */
    clear:both;
}