* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/* position의 속성값을 relative 와 absolute 를 사용해서 요소 배치. 

   absolute : relative 값을 사용한 상위 요소를 기준으로 위치를
             지정해서 배치.

             absolute 를 position 에 적용해서 사용하려면, 
             relative 로 설정된 요소가 있어야 함.

             => relative 로 설정된 요소 를 contents 로 하고,
               absolute 를 h1 로 설정하겠다는 것임.

             => h1은 contents 를 기준으로 위치 지정이 됨.


*/

#contents {
    background: url(../images/bg.jpg) no-repeat;
    /* 이미지를 요소 크기(800px,500px)에 맞게 여백 없이 설정. */
    background-size: cover;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    position: relative; /* H1 tag 의 기준으로 사용을 위해서 설정 */
}

h1 {
    color: yellowgreen;
    font-size: 120px;

    position: absolute; /* contents tag 의 기준으로 위치 지정 */
    right: 100px; /* contents 의 오른쪽에서 100px 만큼 떨어지게 함. */
    bottom: 100px;/* contents 의 아래에서 100px 만큼 떨어지게 함. */

}