/*
      1. 구성요소
         form : 1개
         fieldset : 3개
         legend : 2개
         button : 1개
         label, input : 각각 7개 => 정렬

      2. 하위 선택자 ( CSS 적용 정보 )
         form fieldset
         form label => label 7개에 대한 공통 스타일 적용

      3. label, input 에 대한 위치 및 정렬 ( CSS 적용 정보 )
         순서 없는 리스트의 항목

         하나의 항목 : label 1개, input 1개

      4. button ( CSS 적용 정보 )
         block level 요소.

*/

/* 0. 브라우저 초기화 */
* {
    margin: 0;
    padding: 0;
}

/* 1. 웹페이지 바탕색 설정 */
body {
    background: #ccc;
}

/* 2. form 스타일 */
#signup {
    background:#fff;
    border:1px solid #222;
    border-radius: 5px;
    width: 400px;
    padding: 20px;
    margin: 20px auto;
}

/* 3. form fieldset 스타일 */
#signup fieldset {
    border:1px solid#ccc;
    margin-bottom: 30px;
}

/* 4. form legent 스타일  */
#signup legend {
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 10px;
}

/* 5. form ul li 스타일, label 스타일 */
#signup ul li {
    line-height: 30px;
    list-style: none;
    padding: 5px 10px; /* 상하 5px 좌우 10px */
    margin-bottom: 2px;
}

#signup label{
    /* 순서없는 리스트의 각 항목 구서은
       label, input 의 두 요소로 구성됨.

       따라서, 왼쪽으로 시작해서 위치시키면서,
       label 의 width를 설정. 
       => 자동적으로 input 의 위치가 결정이 되어 버림.
    */
    float: left;
    font-size: 13px;
    width: 110px;
}


/* 6. form button 스타일 */
#signup button {
    border: 1px solid #222;
    border-radius: 20px;
    display: block;
    font-size: 16px;
    margin: auto;
    padding: 7px 25px;
}


/*********** 여기까지는 quiz1.css 와 동일함. ***********/


/*********** 여기서 부터는 quiz3.css 임. ***********/

/* form input 요소에 스타일 적용 */
#signup input {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
    width: 200px;
}

/* 특정 속성이 있는 요소를 선택하는 속성 선택자를 활용 */
/* 필수 입력 필드(required) 스타일 적용 - border을 붉은색 */
#signup input[required] {
    border: 1px red solid;
}

/* 읽기 전용 필드(readoonly) 스타일 적용 - border 없음. */
#signup input[readonly] {
    border: none;
}




/* button 이 있는 fieldset 의 border 제거 */
#signup fieldset:last-of-type {
    border:none;
    margin-bottom:0;
  }

/* button 에 마우스 올렸을 때 스타일 적용 - 바탕 검정, 글자 흰색 */
#signup button:hover {
    background-color: #222;
    color: #fff;
}